
{# page code html #}
{% extends 'Layout/layout.html.twig' %} 

{% block title %}
    {{ parent() }} - Home {# permet de changer nom de page #}
{% endblock %}

{% block content %} {#membres du groupe#}

    <div class="flex">
    <div class="team">

    <div class="">
        <a href="steeve" class="photo1 hoverphoto" ><img src="assets/image/steve.jpg"/></a>
    </div>

    <div>
        <a href="cc" class="hoverphoto"><img src="assets/image/cc.jpg"/></a>
    </div>
            
    <div>
        <a href="sam" class="hoverphoto"><img src="assets/image/sam.jpg"/></a>
    </div>
            
    <div>
        <a href="ion" class="hoverphoto"><img src="assets/image/ion.jpg"/></a>
    </div>

    <div>
        <a href="frah" class="hoverphoto"><img src="assets/image/frah.jpg"/>
            </a> 
    </div>

    <div>
        <a href="mandris" class="hoverphoto"><img src="assets/image/mandris.jpg"/></a>
    </div>    

    <div>
        <a href="goz" class="hoverphoto"><img src="assets/image/goz.jpg"/></a>
    </div>

    </div>

    <div class="accueilvideo">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QFRuw3CrBbs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
            <p><h2>Concerts en 2018</h2><br>
            
           Le groupe à l'énergie fracassante remonte sur scène en 2018<br>
           avec The MonkAdelic Tour et prépare un live spectaculaire !<br>
           Shaka Ponk sur scène, ce sont des geeks survitaminés qui<br>
           imaginent le concert du futur : un punk numérique où la techn-<br>
           ologie vient sublimer la frénésie rock du groupe.</p><br>

           <article>
               <br><p>En une dizaine d'années, Shaka Ponk s'est indiscutablement<br>
                    imposé comme l'un des groupes de rock les plus importants<br>
                    de l'hexagone. Trustant la tête d'affiche des plus gros festivals,<br>
                    enchainant des Bercy sold-out, multipliant les récompenses et<br> 
                    les disques d'or, le groupe parisien est devenu incontournable !<br> 
                    Pourtant, jusqu' à maintenant ce combo ne m'a jamais intéressé.<br>
                    Les quelques chansons entendues au hasard de la bande FM,<br> 
                    et de mes pérégrinations sur les sites de streaming m'ont<br> 
                    toujours laissé de marbre. C'est finalement l'engouement <br>
                    autour de leur réputation de bêtes de scène et l'opportunité<br>
                    de pouvoir m'en rendre compte dans une salle à taille humaine<br>
                    comme la Cigale, qui m'ont poussé à prendre des billets pour<br> 
                    ce concert du Monkadelic Tour. Bien entendu la Cigale est archicomble,<br>
                    mais étonnement alors que je pensais que le public serait relativement jeune,<br>
                    il s'avère qu'il est plutôt composé en grande majorité de vieux trentenaires<br> 
                    flirtant allègrement avec la quarantaine. Bref, cela confirme le triste constat<br> 
                    que les jeunes n'écoutent plus du tout de rock...<br><br>
                    L'ambiance est déjà assez chaude lorsque les lumières s'éteignent et que la soirée ne commence.<br><br>
                    La prestation de Shaka Ponk sera en effet bien plus un show qu'un concert.<br> 
                    Dès l'intro, la mise en scène est exceptionnelle.<br> 
                    Sur un écran, 3 singes 3D s'animent et se mettent à jouer des percussions<br>
                    alors que le groupe prend place avec des postures extrêmement visuelles et travaillées.<br> 
                    Frah, le chanteur ressemble à un Tarzan échappé de la jungle quand la Chanteuse Sam semble sortir tout droit du dôme du tonnerre de Mad Max.<br>
                    L'énergie qu'ils déploient est d'emblée hallucinante alors que l'animation 3D fait apparaitre<br> 
                    un énorme gorille destructeur hyper impressionnant sous les hurlements d'un public qui pogote et slamme de toutes parts.
            </p></article>
    </div>
  </div>
  


{% endblock %}


